{
	"branches": ["main"],
	"plugins": [
		["@semantic-release/commit-analyzer", { "preset": "angular" }],
		"@semantic-release/release-notes-generator",
		[
			"@semantic-release/exec", {
				"verifyConditionsCmd": "docker buildx imagetools inspect $(scripts/image_ref.sh) > /dev/null",
				"prepareCmd": "sed -i -E 's|^APP_IMAGE=.*|APP_IMAGE=ghcr.io/grayhatdevelopers/frappe-v16:v${nextRelease.version}|' .env.example",
				"publishCmd": "docker buildx imagetools create --tag ghcr.io/grayhatdevelopers/frappe-v16:v${nextRelease.version} --tag ghcr.io/grayhatdevelopers/frappe-v16:latest $(scripts/image_ref.sh)"
			}
		],
		[
			"@semantic-release/git", {
				"assets": [".env.example"],
				"message": "chore(release): Bumped to Version ${nextRelease.version} [skip ci]"
			}
		],
		"@semantic-release/github"
	]
}
